@page
@model trerep.Pages.DataModel
@{
    ViewData["Title"] = "Data";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/worksheet.css" rel="stylesheet" />
<!-- tabs -->
<div class="tabbable tabs-bottom">
    <div class="tab-content">
        <div class="tab-pane active" id="fxtran">
            <partial name="~/Pages/Shared/Data/_FxTranTabPartial.cshtml" />
        </div>
    </div>
    <!-- tab content -->
    <ul class="nav nav-tabs">
        <li class="nav-item dropup">
            <a href="#fxtran" data-toggle="tab" class="nav-link active show dropbtn">FX Tran</a>
            <div class="dropup-content">
                <a id="save-fxtran" href="#">Save</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#services" data-toggle="tab">Services</a></li>
        <li id="pager"></li>
    </ul>

</div>
<!-- /tabs -->