@page
@model trerep.Pages.ImporterModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Importer</title>
</head>
<body>
</body>
</html>
