@page
@model trerep.Pages.ParaModel
@{
    ViewData["Title"] = "Para";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@ViewData["connStr"]
<!-- tabs -->
<div class="tabbable tabs-bottom">
    <div class="tab-content">
        <div class="tab-pane active" id="cust">
            <div class="jumbotron">
                <div class="jexcel-wrapper">
                    <div id="cust-sheet"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="about">
            <div class="jumbotron">
                <h1>About Tab</h1>
                <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors..</p>
            </div>
        </div>

        <div class="tab-pane" id="services">
            <div class="jumbotron">
                <h1>Services Tab</h1>
                <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have.</p>
            </div>
        </div>

        <div class="tab-pane" id="contact">
            <div class="jumbotron">
                <h1>Contact Tab</h1>
                <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors..</p>
            </div>
        </div>
    </div>
    <!-- tab content -->
    <ul class="nav nav-tabs">
        <li class="active dropup">
            <a href="#cust" data-toggle="tab" class="dropbtn">Customer</a>
            <div class="dropup-content">
                <a id="save-cust" href="#">Save</a>
            </div>
        </li>
        <li class="dropup">
            <a class="dropbtn">Dropup</a>
            <div class="dropup-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
        <li><a href="#services" data-toggle="tab">Services</a></li>
        <li><a href="#contact" data-toggle="tab">Contact</a></li>
    </ul>

</div>
<!-- /tabs -->
<script>
    data = [
        { a: 3, b: 'Classe A' },
        { a: 1, b: 'Classe B' }
    ];

    $('#cust-sheet').jexcel({
        data: data,
        colHeaders: ['CIF', 'Phân khúc KH', 'CFSIC8', 'Tên KH', 'CN mở CIF', 'XHTDNB', 'Ngành nghề kinh doanh', 'Địa chỉ', 'District', 'State', 'RM', 'Cán bộ QHKH'],
        colWidths: [80, 80, 80, 150, 80, 80, 120, 150, 120, 80, 80, 80, 100],
        columns: [
            //{ type: 'autocomplete', url:'/jexcel/countries' },
            //{ type: 'dropdown', source:[ {'id':'1', 'name':'Fruits'}, {'id':'2', 'name':'Legumes'}, {'id':'3', 'name':'General Food'} ] },
            //{ type: 'checkbox' },
            //{ type: 'calendar' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
            { type: 'text' },
        ]
    });
    $('#save-cust').on('click', function () {
        console.log($('#cust-sheet').jexcel('getData', false));
    });
</script>