@page
@model trerep.Pages.ParaModel
@{
    ViewData["Title"] = "Para";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link href="~/css/worksheet.css" rel="stylesheet" />
<!-- tabs -->
<div class="tabbable tabs-bottom">
    <div class="tab-content">
        <div class="tab-pane active" id="cust">
            <partial name="~/Pages/Shared/Para/_CustTabPartial.cshtml" />
        </div>

        <div class="tab-pane" id="brnare">
            <div class="jumbotron">
                <div class="jexcel-wrapper">
                    <div id="brnare-sheet"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- tab content -->
    <ul class="nav nav-tabs">
        <li class="nav-item dropup">
            <a href="#cust" data-toggle="tab" class="nav-link active show dropbtn">Khách hàng</a>
            <div class="dropup-content">
                <a id="save-cust" href="#">Save</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#brnare" data-toggle="tab">Chi nhánh theo địa bàn</a></li>
        <li id="pager"></li>
    </ul>

</div>
<!-- /tabs -->