@page
@model trerep.Pages.ReportModel
@{
    ViewData["Title"] = "Report";
}
<form method="post" enctype="multipart/form-data">
    <input />
    <button asp-page-handler="Export">Export</button>
</form>
