/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.jexcel td{
    font-size: 13px;
    color: #222;
}

/* custom inclusion of right, left and below tabs */
.container .jumbotron {
    padding: 0;
}

.jexcel-wrapper {
    /*height: 5010px;*/
    overflow: auto;
}

.tabs-below > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.jumbotron {
    /*height: 5015px;*/
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-bottom {
    margin-top: 10px;
}

    .tabs-bottom > .nav-tabs {
        border: 1px solid #ddd;
        padding-bottom: 2px;
        background: #f9f9f9;
        margin-top: -35px;
        margin-left: -1px;
        margin-right: -1px;
        /*-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
        /*border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;*/
        padding-left: 20px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

        .tabs-bottom > .nav-tabs > li {
            margin-top: -1px;
            margin-bottom: 0;
        }

            .tabs-bottom > .nav-tabs > li > a {
                -webkit-border-radius: 0 0 4px 4px;
                -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
            }

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-bottom > .nav-tabs > .active > a,
.tabs-bottom > .nav-tabs > .active > a:hover,
.tabs-bottom > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
    color: tomato;
}
/*dropup menu hover*/
/* The container <div> - needed to position the dropup content */
.dropup {
    position: relative;
    display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
    display: none;
    position: absolute;
    bottom: 40px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px -4px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropup */
    .dropup-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropup links on hover */
        .dropup-content a:hover {
            background-color: #f1f1f1;
        }

/* Show the dropup menu on hover */
.active.dropup:hover .dropup-content {
    display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
    background-color: #fff;
}

.tabs-bottom .jumbotron{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.container{
    max-width: 100%;
}

.tabs-bottom a.nav-link.active {
    border-top: none;
    border-bottom-color: #dee2e6;
    margin-bottom: 1px;
}
ul.bootpag > li:first-child > a {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
ul.bootpag > li:last-child > a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
ul .bootpag > li > a {
    margin-left: -1px;
    position: relative;
    display: block;
    padding: .4rem .75rem;
    line-height: 1.25;
    color: #007bff;
    background: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}
ul .bootpag > li.active > a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}