.body-content {
    width: 100%;
}

.jexcel_contextmenu hr {
    margin: 0;
}
.tabs-bottom>.nav-tabs>li#pager{
    float: right;
}
.tabs-bottom > .nav-tabs > li#pager > .pagination{
    margin: 5px 10px 0 0;
}