<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Treasury Report</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome/v5.3.1/all.css">
    <!-- Material Design Bootstrap -->
    @*<link href="~/lib/mdb/css/mdb.min.css" rel="stylesheet">*@

    <link href="~/lib/jexcel/jquery.jexcel.css" rel="stylesheet">
    <script src="~/lib/jexcel/jquery.jexcel.js"></script>
    <link href="~/lib/jcalendar/jquery.jcalendar.css" rel="stylesheet">
    <script src="~/lib/jcalendar/jquery.jcalendar.js"></script>

    <script src="~/lib/jquery.bootpag.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse navbar-fixed-top">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Para">Para</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-page="/Data">Data</a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" asp-page="/Report">Report</a>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Reports/CustByBDS">Thống kê chi nhánh</a>
                        <a class="dropdown-item" href="#">Thống kê KH VVIP</a>
                        <a class="dropdown-item" href="#">Top KH lớn nhất</a>
                        <a class="dropdown-item" href="#">Chi tiết GD theo KH</a>
                        <a class="dropdown-item" href="#">DS KH cảnh báo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Tổng quan CN và tiềm năng</a>
                        <a class="dropdown-item" href="#">Báo cáo KQ hoạt động KD CN</a>
                        <a class="dropdown-item" href="#">Số liệu cảnh báo CN</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; 2018 - trerep</p>
            </footer>*@
    </div>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
