@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" id="month" placeholder="Tháng">
        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" id="year" placeholder="Năm">
        </div>
        <div class="col-sm-8">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="upload" required>
                <label class="custom-file-label" for="upload">Choose file...</label>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary" id="import">Import</button>
    <button asp-page-handler="Export" class="btn btn-sm btn-primary">Export</button>
</form>
<div class="jumbotron">
    <div class="jexcel-wrapper">
        <div id="fxtran-sheet"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initFxTranSheet(1, 20, true);
        $(':file').on('change', function () {
            //get the file name
            var fileName = $(this).val();
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        });
        $('#fxtran #import').on('click', function () {
            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#upload').val();
            if (filename.length == 0) {
                alert("Please select a file.");
                return false;
            }
            else {
                var extension = filename.replace(/^.*\./, '');
                if ($.inArray(extension, fileExtension) == -1) {
                    alert("Please select only excel files.");
                    return false;
                }
            }
            var fdata = new FormData();
            var fileUpload = $("#upload").get(0);
            var files = fileUpload.files;
            fdata.append(files[0].name, files[0]);
            $.ajax({
                type: "POST",
                url: "/Importer?handler=FxTran&month=" + $('#fxtran #month').val() + "&year=" + $('#fxtran #year').val(),
                data: fdata,
                contentType: false,
                processData: false,
                success: function (response) {
                    response = JSON.parse(response);
                    var tblRes = '<table class="table-hover">';
                    for (var i = 0; i < response.length; i++) {
                        tblRes += '<tr><td>' + response[i].tranid + '</td><td>' + response[i].result + '</td></tr>';
                    }
                    tblRes += '</table>';
                    showResult('Kết quả import', tblRes);
                },
                error: function (e) {
                    showResult('Kết quả import', e);
                }
            });
        });
    });

    var deleteRow = function (instance) {
        $.ajax({
            type: 'DELETE',
            url: "/Data?handler=FxTran&cif=" + $(instance).data('tranid'),
            success: function (response) {
                alert(response);
            }
        });
    }

    function initFxTranSheet(page, take, initPagination) {
        $.ajax({
            type: 'GET'
            , url: "/Data?handler=FxTran"
            , data: { page: page, take: take }
            , success: function (res) {
                var json = JSON.parse(res);
                if (initPagination) {
                    var opt = bootpagOpt;
                    opt.total = Math.ceil(json.total / take)
                    $('.tabs-bottom #pager').bootpag(opt).on("page", function (event, num) {
                        initFxTranSheet(num, take, false);
                    });
                }

                $('#fxtran-sheet').jexcel({
                    csvHeaders: true,
                    tableOverflow: true,
                    tableHeight: '460px',
                    data: json.rows,
                    ondeleterow: deleteRow,
                    onselection: selectionActive,
                    colHeaders: ['ID', 'Ngày GD', 'Ngày GT', 'BDS cha', 'CN thực hiện', 'GDV', 'KSV', 'CIF', 'Đối tác', 'Loại GD', 'Ngoại tệ GD', 'S.lượng mua', 'Tỷ giá mua', 'S.lượng bán', 'Tỷ giá bán'],
                    colWidths: [80, 60, 60, 300, 80, 60, 200, 250, 200, 80, 80, 80, 250, 100, 100],
                    columns: [
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                        { type: 'text' },
                    ]
                });
            }
        });
    }
    $('#save-fxtran').on('click', function () {
        var saveData = $('#fxtran-sheet').jexcel('getData', false);
        $.ajax({
            type: "POST",
            url: "/Dât?handler=FxTranBatchUpsert",
            data: JSON.stringify(saveData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                bootbox.alert(response);
            },
            failure: function (response) {
                alert(response);
            }
        });
    });
</script>
